shellingham==1.5.4
xatlas==0.0.9
soundfile==0.12.1
multidict==6.0.4
pytorch-lightning==2.6.6
pygame-ce==2.5.6
orjson==3.11.2
scikit-learn==1.9.1
requests==2.33.1
richuru==0.1.1
pydantic_core==2.33.2
lance-namespace==0.11.1
numpyro==0.17.0
pexpect==4.9.0
absl-py==2.1.0
opencv-python==4.8.1.78
pandas==2.2.3
pandas==2.1.4
lazy_loader==0.4
platformdirs==4.9.4
gmpy2==2.1.2
paramiko==3.5.1
torchvision==0.29.0
hypothesis==6.88.1
mlpaper==0.0.3
traitlets==5.14.3
urllib3==2.5.0
py-pde==0.38.0
tornado==6.5.5
GPy==1.13.1
nest-asyncio==1.6.0
pyro-ppl==1.9.1
lightning-utilities==0.15.3
Jinja2==3.1.2
ipywidgets==8.1.1
HyperPyYAML==1.2.2
asttokens==3.0.1
click==8.5.0
install==1.3.5
ptyprocess==0.7.0
aiosignal==1.3.1
joblib==1.6.0
tzdata==2025.3
setproctitle==1.3.7
fsspec==2023.6.0
dill==0.3.7
pyvers==0.1.0
pyctcdecode==0.5.0
typing-inspection==0.4.1
certifi==2026.1.4
pillow==11.2.1
pillow==12.3.0
safetensors==0.4.2
transformers==4.37.2
protobuf==3.20.3
rlberry==0.7.3
julius==0.2.7
alembic==1.13.0
executing==2.2.1
wandb==0.21.0
PyNaCl==1.5.0
bcrypt==4.3.0
networkx==3.1
hf-xet==1.6.0
timm==0.9.16
openpyxl==3.1.5
pickleshare==0.7.5
paramz==0.9.6
cloudpickle==3.0.0
numexpr==2.14.1
wheel==0.46.3
python-dotenv==1.2.1
sentry-sdk==2.33.2
sentry-sdk==2.45.0
contourpy==1.3.3
tensorstore==0.1.72
llvmlite==0.42.0
pytest==7.4.3
markdown-it-py==3.0.0
seaborn==0.13.2
Farama-Notifications==0.0.4
ipython==9.10.0
torchrl==0.9.2
normflows==1.7.3
wadler_lindig==0.1.3
jedi==0.19.2
optax==0.2.4
future==0.18.3
minari==0.5.3
et_xmlfile==2.0.0
cattrs==26.2.0
tensordict==0.9.1
primePy==1.3
pyworld==0.3.4
idna==3.11
yarl==1.9.2
annotated-types==0.6.0
pyarrow==25.0.1
PySocks==1.7.1
fdasrsf==2.5.2
cffi==2.0.0
humanize==4.12.1
treescope==0.1.9
exceptiongroup==1.1.3
iniconfig==2.0.0
rich==13.9.4
kiwisolver==1.4.9
torch==2.14.0
scikit-sparse==0.4.15
zstandard==0.25.0
numpy==2.4.6
TextGrid==1.5
inflect==7.0.0
fastjsonschema==2.21.1
kornia_rs==0.1.14
ipython_pygments_lexers==1.1.1
appnope==0.1.4
MarkupSafe==2.1.1
pooch==1.7.0
prompt_toolkit==3.0.52
equinox==0.11.12
setuptools==81.0.0
parso==0.8.5
httpcore==1.0.9
decorator==5.2.1
tabulate==0.8.10
nvdiffrast==0.3.1
PyOpenGL==3.1.10
diffusers==0.26.3
nose==1.3.7
Cython==3.0.5
jsonschema==4.23.0
pesq==0.0.4
jupyter_client==8.8.0
nbformat==5.10.4
moviepy==2.2.1
async-timeout==4.0.3
stack_data==0.6.3
appdirs==1.4.4
lance-namespace-urllib3-client==0.11.1
charset-normalizer==3.4.4
sympy==1.14.0
huggingface_hub==0.36.2
ale-py==0.8.1
etils==1.12.0
sentencepiece==0.1.99
frozenlist==1.4.0
matplotlib-inline==0.2.1
backcall==0.2.0
referencing==0.36.2
tqdm==4.70.1
pytz==2026.1.post1
Shimmy==0.2.1
soupsieve==2.5
loguru==0.7.3
librosa==0.10.1
orbax-checkpoint==0.11.6
torchaudio==2.2.2
editdistance==0.6.1
stable-pretraining==0.1.9.dev3+g9aa93f8b6
paramax==0.0.0
h11==0.16.0
gitdb==4.0.12
simplejson==3.20.1
soxr==0.3.6
pycparser==3.0
fonttools==4.62.1
psutil==7.0.0
Pygments==2.20.0
jaxtyping==0.2.38
mdurl==0.1.2
tenacity==8.2.3
patsy==1.0.2
hydra-submitit-launcher==1.2.0
python-dateutil==2.9.0.post0
kenlm==0.2.0
optuna==3.4.0
mpmath==1.3.0
Mako==1.3.0
PyYAML==6.0.3
gymnasium==1.3.0
flowjax==17.0.2
pygtrie==2.5.0
catboost==1.2.2
sortedcontainers==2.4.0
debugpy==1.8.16
jax==0.5.0
Bottleneck==1.4.2
pyOpenSSL==23.2.0
ipykernel==6.25.2
beautifulsoup4==4.12.2
antlr4-python3-runtime==4.9.3
nltk==3.8.1
datasets==5.0.1
accelerate==0.27.2
multimethod==1.10
easydict==1.13
typing_extensions==4.15.0
typing_extensions==4.16.0
zipp==3.17.0
toolz==1.0.0
jupyter_core==5.9.1
filelock==4.0.3
packaging==25.0
packaging==26.0
aiohttp==3.8.5
docopt==0.6.2
imageio-ffmpeg==0.6.0
jsonschema-specifications==2025.4.1
adastop==0.1.3
cycler==0.12.1
multiprocess==0.70.15
POT==0.9.5
wcwidth==0.9.1
piq==0.8.0
jupyterlab_widgets==3.0.16
matplotlib==3.10.6
annotated-doc==0.0.5
lightning==2.6.6
pip==26.0.1
threadpoolctl==3.7.0
ruamel.yaml.clib==0.2.7
mlxtend==0.23.4
multipledispatch==1.0.0
imageio==2.37.0
trimesh==4.2.0
pure_eval==0.2.3
pydantic==2.11.7
backports.functools-lru-cache==1.6.5
torchmetrics==1.2.0
GitPython==3.1.46
SQLAlchemy==2.0.23
xgboost==2.1.4
regex==2023.10.3
opt-einsum==3.3.0
docker-pycreds==0.4.0
flax==0.10.4
attrs==26.1.0
munkres==1.1.4
brotlipy==0.7.0
Unidecode==1.3.7
pyloudnorm==0.1.1
einops==0.7.0
url-normalize==3.0.1
ninja==1.11.1.1
torch-audiomentations==0.11.0
xxhash==3.3.0
httpx==0.28.1
speechbrain==0.5.15
smmap==5.0.2
gdown==4.7.1
graphviz==0.20.1
prettytable==3.18.0
proglog==0.1.12
hdf5plugin==7.1.0
requests-cache==1.3.3
pyro-api==0.1.2
msgpack==1.0.7
scipy==1.15.3
cryptography==41.0.3
ruamel.yaml==0.17.33
tokenizers==0.15.2
ml_dtypes==0.5.1
pathtools==0.1.2
plotly==5.18.0
hydra-core==1.3.2
torch-pitch-shift==1.2.4
jaxlib==0.5.0
typer==0.27.2
brotlicffi==1.1.0.0
rpds-py==0.25.0
tifffile==2025.5.10
AutoROM==0.4.2
colorlog==6.8.0
anyio==4.15.1
numba==0.59.1
widgetsnbextension==4.0.14
omegaconf==2.3.0
pluggy==1.3.0
pyparsing==3.0.9
scikit-image==0.25.2
submitit==1.5.4
six==1.17.0
pylance==12.0.0
h5py==3.16.0
importlib_resources==6.5.2
pyzmq==27.1.0
AutoROM.accept-rom-license==0.6.1
chex==0.1.89
stable-worldmodel==0.0.6
wget==3.2
audioread==3.0.1
narwhals==2.26.0
kornia==0.8.3
opencv-python-headless==5.0.0.93
importlib-metadata==6.8.0
comm==0.2.3
